# Binaries
*.exe
*.dll
*.so
*.dylib
*.out

# IDE specific files
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env
.env.docker

# Certificates
certificates/*.pem
certificates/*.csr
certificates/*.srl
certificates/*.key
